ASSETTRACK_DB_PATH=

ASSETTRACK_SMTP_HOST=
ASSETTRACK_SMTP_PORT=
ASSETTRACK_SMTP_USERNAME=
ASSETTRACK_SMTP_PASSWORD=

ASSETTRACK_SMTP_STARTTLS=
ASSETTRACK_SMTP_USE_SSL=

ASSETTRACK_RECEIPT_FROM_EMAIL=
ASSETTRACK_RECEIPT_CC_EMAIL=
ASSETTRACK_DEMO_TOKENS=GREG.20260420.EXP7,SAM.20260422.EXP14
