# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.venv/
env/
venv/
ENV/

# IDE/editor settings
.vscode/
.idea/

# Local database & JSON configs
inventory.db
# da2062_layout.json
inventory_lists.json

# Logs
*.log

# PyInstaller
*.spec

inventory.db

# Mac stuff
.DS_Store
